dl,
ol,
ul {
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
}
ul{
    li{
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #E12A41;
}

h1 {
    padding: 20px 0;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
}

body {
    background-color: #F8F8F8;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

.fixed {
    width: 100%;
    min-height: 80px;
    position: fixed;
    z-index: 99;
    // box-shadow: 0 0 6px #333;
}

.inner {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #ffffff;

    .inner {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .h-r {
            ul {
                align-items: center;
                li {
                    margin: 0 20px;
                    list-style-type: none;

                    a {
                        font-weight: 600;
                        font-size: 16px;
                        color: #333333;
                    }

                    a:hover {
                        color: #E12A41;
                    }

                    a.active {
                        color: #E12A41;
                    }

                    span {
                        margin-left: 5px;
                    }
                }
            }

            button {
                width: 102px;
                height: 40px;
                font-size: 14px;
                font-weight: 600;
                line-height: 18px;
                color: #333333;
                border: 1.5px solid #333333;
                border-radius: 8px;
            }

            button.register {
                background-color: #ffffff;
                margin: 0 12px 0 24px;
            }

            button.login {
                background-color: #E12A41;
                border: none;
                color: #ffffff;
            }
        }
        .menu-mobile{
            .nav__bars-btn {
                display: none;
                width: 28px;
                height: 28px;
                color: #fff;
              }
              .nav__mobile {
                opacity: 0;
                transform: translateX(100%);
                transition: transform linear 0.3s, opacity linear 0.5s;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                width: 320px;
                max-width: 100%;
                background-color: #fff;
                .nav_mobile_header {
                  border-bottom: 2px solid rgb(230, 230, 230);
                  line-height:36px;
                }
                .nav__mobile-list {
                  margin-top: 24px;
                  li {
                    line-height:40px !important;
                    padding-left: 20px;
                    list-style-type: none;
                    .nav__mobile-link {
                      text-decoration: none;
                      color: #333333;
                      display: block;
                      font-size: 16px;
                    }    
                    button {
                        width: 102px;
                        height: 40px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 18px;
                        color: #333333;
                        border: 1.5px solid #333333;
                        border-radius: 8px;
                    }
        
                    button.register {
                        background-color: #ffffff;
                        margin: 0 12px 0 24px;
                    }
        
                    button.login {
                        background-color: #E12A41;
                        border: none;
                        color: #ffffff;
                    }
                  }
                }
              }
              .nav__overlay {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.3);
                animation: fadeIn linear 0.2s;
              }
              .nav__input {
                display: none;
              }
              .nav__input:checked ~ .nav__overlay {
                display: block;
              }
              .nav__input:checked ~ .nav__mobile {
                transform: translateX(0%);
                opacity: 1;
              }
        }
    }
}

.main-section {
    padding-top: 110px;

    .header-section {
        border-bottom: 1px solid #E0E0E0;
        position: relative;
        margin-bottom: 20px;
        ul {
            padding: 0;
            width: 100%;
            li {
                position: relative;
                font-weight: 500;
                padding: 0;
                list-style-type: none;
                margin: 0 20px;
                padding-bottom: 10px;
                .border-active{
                    font-weight: 600;
                    position:absolute;
                    border:2px solid #E12A41;
                    width: 100%;
                    bottom: -3px;
                    font-weight: 600;
                }
            }
            li.active{
                a{
                    font-weight: 600;
                }
            }
            li:first-child {
                margin: 0 20px 0 0;
            }
        }
        .menu-tab{
            display:block;

        }
        .menu-tab-mobile{
            display:none;
            .btn-more{
                cursor: pointer;
                margin-right: 10px;
            }
        }
    }
    .header-section-news-detail{
        font-size: 16px;
        margin-bottom: 20px;
        li{
            margin:0 8px;
        }
        li:first-child {
            margin-left:0;
        }
        .parent-branch{
            color:#828282;
        }
        .child-branch{
            color:#333333;
        }
        .child-branch-detail{
            color:#E12A41;
            font-weight: 600;
        }
    }
    .introduction {
        .article-content {
            min-height: 520px;  
            .slider {   
                height:100%;
                background-color: #ffffff;
                border: 1px solid #E0E0E0;
                border-radius: 8px;       
                .big-slide {
                    padding: 20px 16px;
                    img {
                        display: block;
                        margin:0 auto;
                        object-fit: cover;
                        max-height: 340px;
                        width: 100%;
                        border-radius: 8px;
                    }
                    h3 {
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 27px;
                        padding-top: 10px;
                        overflow: hidden;
                        height: 72px;
                        text-overflow: ellipsis;
                        white-space: normal;
                        a{
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;  
                            overflow: hidden;
                        }
                    }

                    h3:hover {
                        overflow: visible;
                    }

                    .create-date {
                        margin-top: 20px;
                        display: flex;
                        align-items: center;

                        p {
                            font-style: normal;
                            font-size: 16px;
                            color: #828282;
                            margin: 0 10px;
                        }
                    }
                }
                .small-slide {
                    padding: 20px 0px;

                    ul {
                        padding: 0;
                        width: 100%;

                        li {
                            margin-bottom: 20px;
                            display: flex;
                            width: 100%;

                            .img-sm-slide {
                                img {
                                    border-radius: 8px;
                                }
                            }
                            .text-sm-slide {
                                position: relative;
                                padding: 0 10px;
                                font-family: "Nunito", sans-serif;
                                font-size: 14px;
                                line-height: 22px;
                                font-weight: 700;
                                a{
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;  
                                    overflow: hidden;
                                }
                                .create-date {
                                    position: absolute;
                                    bottom: 0;
                                    display: flex;
                                    align-items: center;

                                    h6 {
                                        font-family: "Inter", sans-serif;
                                        font-weight: 500;
                                        font-size: 14px;
                                        color: #828282;
                                        margin: 0 10px;
                                    }
                                }
                            }
                        }

                        li:last-child {
                            margin: 0;
                        }
                    }
                }
            }
         
        }

        .b-side {
            min-height: 520px;
            .view-hot {
                height:100%;
                border: 1px solid #E0E0E0;
                background-color: #ffffff;
                border-radius: 8px;
                .h-vh {
                    align-items: center;
                    padding: 10px 10px 0 10px;
                    h2 {
                        padding-top: 12px;
                        color: #333333;
                        font-weight: 700;
                        display: block;
                        margin: 0 auto;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                ul {
                    padding: 0;
                    li {
                        padding: 0 10px;
                        list-style-type: none;
                        margin-bottom: 20px;
                        
                        .count-num {
                            position: relative;
                            height: 34px;
                            width: 34px;
                            border-radius: 50%;
                            background-color: #BDBDBD;

                            h4 {
                                font-weight: 400;
                                font-size: 20px;
                                left: 30%;
                                top: 50%;
                                transform: translateY(-50%);
                                position: absolute;
                                color: #ffffff;
                            }
                        }
                        .text-view-hot{
                            font-size: 14px;
                            font-weight: 500;
                            a{
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;  
                                overflow: hidden;
                            }
                        }
                        .count-num.active {
                            background-color: #E12A41;
                        }
                    }
                }
            }
          
        }
        .intro-news-detail{
            img{
                height: 100%;
                width: 100%;
                border:1px solid #E0E0E0;
                border-radius: 8px;
            }
        }
    }
    .introduction-mobile{
        display:none;
        margin-bottom: 60px;
        .slider-mobile{
            margin:auto;
            .slider-mobile-item{
                border: 1px solid #E0E0E0;
                background-color: #ffffff;
                border-radius: 8px;
                min-width: 280px;
                width: 100%;
                display:block;
                margin:0 auto;
                img{
                    width: 100%;
                    height: 100%;              
                }     
                h2 {
                    padding:0 10px;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 27px;
                    padding-top: 10px;
                    overflow: hidden;
                    height: 72px;
                    text-overflow: ellipsis;
                    white-space: normal;
                    a{
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                    }
                }  
            }
            .slick-dots li{
                transition: all 0.5s ease-in-out;
                width: 20px;
              }
              .slick-dots{
                display:flex;
                justify-content:center;
                bottom: -40px;
              }
              .slick-dots li button:before {
                display: block;
                font-size: 0;
              }
              .slick-dots {
                bottom: -40px;
              }
              .slick-dots li button {
                display: block;
                margin: 0 auto;
                transition: all 0.5s ease-in-out;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                border:1px solid #bdbdbd;
              }
              .slick-dots li.slick-active{
                button {
                  background: #E12A41;
                  border-radius: 12px;
                }
              }      
        }
    }
    .main-content{
        min-height: 1000px;
        margin-top:20px;
        margin-bottom: 40px;
        .article-section{
            min-height:100%;
            section {
                height: 100%;
                border: 1px solid #E0E0E0;
                width: 100%;
                border-radius: 8px;
                background-color: #ffffff;
                ul {
                    width: 100%;
                    padding: 20px 20px;
                    li {
                        display: flex;
                        max-height:100%;
                        width: 100%;
                        list-style-type: none;
                        .img-content {
                            max-width: 100%;
                            a{
                                img{
                                    height: 100%;
                                    max-width:100%;
                                    border-radius: 8px;
                                    display: block;
                                    margin:0 auto;
                                    object-fit: cover;
                                    max-height: 200px;
                                    flex-shrink: 1;
                                }
                            }             
                        }
                        .text-content {
                            padding: 0 12px;
                            .h-cate {
                                a {
                                    font-style: normal;
                                    color: #E12A41;
                                    font-size: 14px;
                                    line-height: 30px;
                                }
                            }

                            .tilte-content {
                                font-size: 20px;
                                font-weight: 700;
                                a{
                                    display: -webkit-box;
                                    -webkit-line-clamp: 2;
                                    -webkit-box-orient: vertical;  
                                    overflow: hidden;
                                }
                            }

                            .description {
                                color: #4F4F4F;
                                font-size: 14px;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;  
                                overflow: hidden;
                            }

                            .footer-text-content {
                                display: flex;
                                margin-top: 4px;

                                .avt-author {
                                    width: 24px;
                                    height: 24px;
                                }

                                .name-author {
                                    margin-left: 10px;
                                    color: #828282;
                                    font-weight: 400;
                                }
                            }
                        }

                        hr {
                            border: 1px solid #E0E0E0;
                        }
                    }
                    hr{
                        margin:30px 0;
                        border:1px solid #E0E0E0;
                    }
                }

                .pagination {
                    padding:10px 20px;
                    display: flex;
                    justify-content: end;
                    .pagging{
                        position:relative;
                        width: 32px;
                        height:32px;
                    }
                    .pagging.active{
                        border-radius: 8px;
                        background-color:#E12A41;
                    }
                    .pagging:first-child{
                        margin-right:8px;
                    }
                    a {
                        top:50%;
                        left:40%;
                        transform: translateY(-50%);
                        position: absolute;
                        color: black;
                        float: left;
                        text-decoration: none;
                    }
                    a.active{
                        color:#ffffff;
                    }
                    a.dot{
                        user-select: none;
                    }
                }
                .pagination-mb{
                    display: none;
                    font-size:16px;
                    font-weight: 700;
                    color:#E12A41;
                    line-height:19px;
                    margin-bottom: 20px;
                    span{
                        font-size: 16px;
                        padding-left: 10px;
                        color:#333333;
                    }
                }
            }
        }
        .b-side-2{
            min-height:100%;
            .service-care{
                margin:0 0 20px 0; 
                border-radius: 8px;
                background-color: #ffffff;
                border: 1px solid #E0E0E0;
                .h-svc{
                    align-items: center;
                    padding: 10px 10px 0 10px;

                    h2 {
                        padding-top: 12px;
                        color: #333333;
                        font-weight: 700;
                        display: block;
                        margin: 0 auto;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                ul{
                    padding:0 10px;
                    li{
                        margin-bottom: 20px;
                        display:flex;
                        justify-content:start;
                        width: 100%;
                        list-style-type: none;
                        display:flex;
                        .img-sv-item{
                            width: 82px;
                            height:82px;
                            border-radius: 8px;
                            position: relative;                          
                            .active {
                                img{
                                    position: absolute;
                                    top: -10%;
                                    right:-10%;
                                } 
                            }
                        }
                        .title-sv-item{
                            padding:0 10px;
                            font-size: 16px;
                            font-weight: 600;
                            .count-content-one-cate{
                                a{
                                    font-weight: 500;
                                    font-size: 14px;
                                    color:#088FF0;
                                }   
                            }
                        }
                    }
                }
            }
            .promotion{
                border: 1px solid #E0E0E0;
                width: 100%;
                border-radius: 8px;
                background-color: #ffffff;
                .h-p{
                    align-items: center;
                    padding: 10px 10px 0 10px;
                    h2 {
                        padding-top: 12px;
                        color: #333333;
                        font-weight: 700;
                        display: block;
                        margin: 0 auto;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
                ul{
                    padding:0;
                    li{
                        list-style-type: none;
                        padding:0 10px;
                        margin-bottom: 10px;
                        position: relative;
                        img{
                            width: 100%;
                        }
                        h5{
                            position:absolute;                   
                            padding:0 10px;
                            bottom:0%;
                            a{
                                font-size:14px;
                                color:#ffffff;
                            }
                            a:hover{
                                color:#E12A41;
                            }
                        }
                    }
                }
            }
        }
        .article-section-detail{
            h1{
                font-size: 36px;         
                font-weight: 700;    
                font-style: normal;
            }
            .info-content-detail{
                display: flex;
                margin-top: 4px;
                .avt-author {
                    width: 24px;
                    height: 24px;
                }
                .name-author {
                    margin-left: 10px;
                    color: #828282;
                    font-weight: 400;
                }
                .space{
                    margin:0 10px;
                }
                .count-cmt{
                    a{
                        color:#2F80ED;
                    }
                }
            }
            hr{
                border: 1px solid #E0E0E0;
            }
            .content-detail{
                color:#4F4F4F;
                font-size: 14px;
            }
            .related-post{
                margin-top:40px;
                border: 1px solid #E0E0E0;
                border-radius:8px;
                background-color: #ffffff;
                padding:10px 20px;
                h3{
                    font-weight: 600;
                    font-size:18px;
                }
                .more{
                    position: relative;
                    width: 24px;
                    height:24px;
                    border-radius: 50%;
                    background-color:#F1F1F1;
                    svg{
                       position:absolute;
                       top:15%;
                       left:25%;
                       transform:translateX-(-50%);
                    }
                }
            }
            .r-p-item{
                .more-p-item{
                    padding:20px;
                }
                img{
                    width: 100%;
                    border:1px solid #E0E0E0;
                    border-radius: 8px;
                }
                a{
                    padding-left: 10px;
                    font-size: 15px;
                    font-weight: 600;
                }
                .create-date {
                    padding-left: 10px;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;

                    p {
                        font-style: normal;
                        font-size: 16px;
                        color: #828282;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}
//sử dụng cho trang liên hệ
.contact{
    background-image: url(../images/background-contact.png);
    background-position: 160px 120px;
    background-repeat: no-repeat;
    min-height: 700px;
    background-color: #F8F8F8;
    padding-top:110px;
    .inner{
        padding:60px 0;
        .info-contact{
            h2{
                font-weight: 700;
                font-size: 24px;
                color:#E12A41;
                margin-bottom:40px;
            }
            ul{
                font-size: 16px;
                line-height:22px;
                li{
                    margin-bottom: 20px;
                    svg{
                        margin-right: 10px;
                    }
                    ul{
                        margin-left:5px;
                        li{
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        .box-contact{
            display:block;
            margin:auto;
            max-width: 520px;
            max-height: 416px;
            background: #FFFFFF;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            form{
                padding:20px 0;
                width: 100%;
                input{
                    border: 1px solid #E0E0E0;
                    padding-left: 10px;
                    color:#828282;
                    height:40px;
                    display:block;
                    width: 80%;
                    margin:0 auto;
                    margin-top:20px;
                }
                input:last-child{
                    width: 30%;
                    background-color:#E12A41;
                    font-size: 14px;
                    color:#ffffff;
                    font-weight: 600;
                    border-radius: 4px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .map{
        width: 100%;
        .inner{
            padding: 20px 0;
            h3{
                font-weight: 600;
            }
        }
    }
}
footer{
    position: relative;
    min-height: 340px;
    width: 100%;
    background-color:#ffffff;
    .footer-detail{
        .footer-detail-l{
            ul{
                padding:0;
                li{
                    margin-bottom: 10px;
                    font-size: 16px;
                    list-style-type: none;
                    color:#333333;
                    font-weight: 600;
                    a{
                        color: #4F4F4F;
                    }
                    .link-mail{
                        a{
                            font-weight: 500;
                        }
                    }
                }
            }
        }
        .footer-detail-r{
            padding-left:40px;
            .h-ft-r{
                font-size:18px;
                line-height:27px;
                color:#E12A41;
                font-weight: 600;
            }
            ul{
                padding:0;
                li{
                    padding:5px 0;
                    font-size:16px;
                    list-style-type: none;
                    color:#333333;
                    line-height: 22px;
                    font-weight: 500;
                    a{
                        color: #4F4F4F;
                    }
                    .link-mail{
                        a{
                            font-weight: 500;
                        }
                    }
                    .list-social{
                        li{
                            margin-left: 20px;
                        }
                        li:first-child{
                            margin-left:0;
                        }
                        svg{
                            height:36px;
                            width: 36px;
                        }
                    }
                }
            }
        }
    }   
  
}
.action{
    position:fixed;
    align-items: center;
    bottom:10px;
    right:10px;
    .back-on-top{
        cursor: pointer;
        margin-bottom: 10px;
    }
    .support-mes{
        cursor: pointer;
    }
}  
.coppy-right{
    background-color: #ffffff;
    text-align: center;
    font-size:14px;
    font-weight: 500;
}
@media screen and (max-width: 1199px) {
    .fixed{
        padding:0 16px;
    }
    main{
        padding:0 16px;
    }
    footer{
        padding:0 16px;
    }
   
}
@media screen and (max-width: 992px) {
    .introduction-mobile{
        display:block !important;
    }
    .introduction{
        display:none !important;
    }
    header {
        .h-r {
            display: none;
        }
        .menu-mobile{
            .nav__bars-btn{
                margin-right: 20px;
                display:block !important;
            }
        }
    }
}
@media screen and (max-width: 767.98px){
    .header-section{
        border:none !important;
    }
    .service-care{
        margin-top:20px !important;
    }
    footer{
        padding-bottom: 40px;
        .footer-detail{
            display:block !important;
            .footer-detail-l{
               display:block !important;
               ul{
                   display:flex !important;               
               }
               ul:last-child {
                   margin-bottom: 40px;
                   display: block !important;
                   li{
                       display:flex !important;
                   }
               }
            }
            .footer-detail-r{
                padding:0;
                ul{
                    li{
                        line-height:30px;
                    }
                }
            }
        }
    }
    .menu-tab{
        display:none !important;
    }
    .menu-tab-mobile{
        display:block !important; 
    }
    .contact{      
        .inner{
            display:block !important;
            .info-contact{
                margin-bottom:60px;
            }
            .box-contact{
                max-width: 400px !important;
            }
        }
    }

    .pagination{
        display:none !important;
    }
    .pagination-mb{
        padding:10px 0;
        display: block !important;
    }
    .text-content {
        .tilte-content {
            font-size: 16px !important;
        }
        .description {
            display:none !important;
        }
    }
   
}
@media screen and (max-width: 576px) {
    .menu-tab-mobile{
        li{
            margin:0 !important;
            font-size:12px !important;
        }   
    }
    .info-email{
        display:block !important;
        ul{
            margin-top:10px;
        }
    }
    .article-content .slider{
        display:block !important;
    }
}
@media screen and (max-width:340px){
    .text-content{
        .h-cate{
            a{
                font-size:10px !important;
                line-height:20px !important;
            }
        }
        .tilte-content{
            a{
                font-size:12px !important;
            }
        }
        .avt-author{
            
        }
        .name-author{
            font-size:10px !important;
            padding-top: 4px !important;
        }
    }
}